{{define "apps"}}
    {{range $appId, $app := .}}
        <div id="app-{{$appId}}"
            hx-get="/project/app/{{$appId}}"
            hx-trigger="load"
            hx-swap="outerHTML"
            hx-target="#app-{{$appId}}"></div>

        <br>
    {{end}}

    <button hx-get="/project/app/create" 
        hx-trigger="click"
        hx-swap="innerHTML"
        hx-target="#app-content">+</button>
{{end}}

{{define "app"}}
    <div id="app-{{.Id}}" class="n3 b1">
        <form>
            <label class="expanding-label" for="app-{{.Id}}-image">
                <h4 style="margin: 0px;">container image |</h4>
                <h4 style="margin: 0px;" class="error">{{ .Errors.image }}</h4>
            </label>
                
            <input type="text" name="app-{{.Id}}-image" value="{{ .App.Image }}" 
                style="border-radius: 0;"
                hx-post="/project/app/{{.Id}}/image"
                hx-trigger="change delay:500ms" 
                hx-swap="outerHTML"
                hx-target="#app-{{.Id}}" />

            <table id="app-{{.Id}}-env" style="margin-top: 5px; margin-bottom: 5px;">
                <tr>
                    <th>environment variable</th>
                    <th>value</th>
                </tr>

                {{range $envId, $env := .App.Env}}
                    <tr>
                        <td>
                            <input class="table-item" type="text" name="app-{{$.Id}}-env-{{$envId}}-key" value="{{$env.Key}}"
                                hx-post="/project/app/{{$.Id}}/env/{{$envId}}"
                                hx-trigger="change delay:500ms" 
                                hx-swap="none" />
                        </td>

                        <td>
                            <input class="table-item" type="text" name="app-{{$.Id}}-env-{{$envId}}-val" value="{{$env.Value}}"
                                hx-post="/project/app/{{$.Id}}/env/{{$envId}}"
                                hx-trigger="change delay:500ms"
                                hx-swap="none" />
                        </td>

                        <td>
                            <button hx-delete="/project/app/{{$.Id}}/env/{{$envId}}"
                                hx-trigger="click"
                                hx-swap="outerHTML"
                                hx-target="#app-{{$.Id}}">delete</button>
                        </td>
                    </tr>
                {{end}}

                <tr>
                    <td>
                        <input class="table-item" type="text" name="app-{{.Id}}-env-key" />
                    </td>

                    <td>
                        <input class="table-item" type="text" name="app-{{.Id}}-env-val" />
                    </td>

                    <td>
                        <button hx-post="/project/app/{{.Id}}/env" 
                            hx-trigger="click"
                            hx-swap="outerHTML"
                            hx-target="#app-{{.Id}}">+</button>
                    </td>
                </tr>
            </table>

            <button hx-delete="/project/app/{{.Id}}" 
                hx-trigger="click" 
                hx-swap="innerHTML"
                hx-target="#app-content">delete</button>
        </form>
    </div>
{{end}}