{{define "editor"}}
<div class="container" id="editor-page">
    <h1>open project: {{.}}</h1>

    <div class="panel-h">
        <div class="panel-v n1">
            <script>
                function openTab(e, tab) {
                    var contents = document.getElementsByClassName("tab-content");
                    for (let i = 0; i < contents.length; i++) {
                        contents[i].style.display = "none";
                    }

                    var tabs = document.getElementsByClassName("tab");
                    for (let i = 0; i < tabs.length; i++) {
                        tabs[i].className = tabs[i].className.replace(" active", "");
                    }

                    document.getElementById("panel-" + tab).style.display = "block";
                    e.currentTarget.className += " active";
                }
            </script>

            <ul class="tabs">
                <li>
                    <a href="javascript:void(0)" class="tab active" onclick="openTab(event, 'apps')">apps</a>
                </li>

                <li>
                    <a href="javascript:void(0)" class="tab"onclick="openTab(event, 'infrastructure')">infrastructure</a>
                </li>

                <li>
                    <a href="javascript:void(0)" class="tab" onclick="openTab(event, 'test')">tests</a>
                </li>
            </ul>

            <div>
                <div id="panel-apps" class="n2 b1 tab-content" style="gap: 8px; display: block;">
                    <div id="app-content" 
                        hx-get="/project/app"
                        hx-trigger="load"
                        hx-swap="innerHTML"
                        hx-target="#app-content"></div>
                </div>

                <div id="panel-infrastructure" class="n2 b1 tab-content" style="display: none;">
                    this is the infra panel
                </div>

                <div id="panel-test" class="n2 b1 tab-content" style="display: none;">
                    this is the test panel
                </div>
            </div>
        </div>

        <div class="panel-v n1">

        </div>
    </div>

    <button hx-get="/project/close" hx-trigger="click" hx-target="#editor-page" hx-swap="outerHTML">
        close project
    </button>
</div>
{{end}}