{{define "welcome"}}
<div id="welcome-page">
    <h1>welcome page</h1>

    <div class="container">
        <div class="panel-v n1" id="create-project-form">
            <h2>create</h2>

            <form hx-post="/project/create"
                hx-trigger="submit"
                hx-target="#welcome-page"
                hx-swap="outerHTML">
                    <input type="text" name="project-name" placeholder="project name" />

                    <input type="submit" name="project-submit" value="create project" />
            </form>

            <h6 class="error">{{.CreateError}}</h6>
        </div>

        <div class="panel-v n1" id="open-project-form">
            <h2>open</h2>

            <form hx-post="/project/open"
                hx-trigger="submit"
                hx-target="#welcome-page"
                hx-swap="outerHTML"
                enctype="multipart/form-data">
                    <input type="file" name="project-file" />

                    <input type="submit" name="open-project" value="open project" />
            </form>

            <h6 class="error">{{.OpenError}}</h6>
        </div>
    </div>
</div>
{{end}}