body {
    background-color: #2D2D45;
    color: #F1F1F8;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.error {
    color: #F52100;
}

.b1 {
    border: 1px solid #F1F1F8;
}

.container {
    border-radius: 20px;

    padding: 5px;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 8px;
}

.n1 {
    border-radius: 15px;

    padding: 5px;
}

.n2 {
    border-radius: 10px;
    
    padding: 5px;
}

.n3 {
    border-radius: 5px;

    padding: 5px;
}

.panel-v {
    display: flex;
    flex-direction: column;
}

.panel-h {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    gap: 8px;
}

.tabs {
    padding-left: 25px;
    margin-bottom: 0;

    display: flex;
    flex-direction: row;

    list-style-type: none;
}

.tab {
    border: 1px solid #F1F1F8;

    padding-left: 5px;
    padding-right: 5px;

    text-decoration: none;
}

.expanding-label {
    display: flex;
    flex-direction: row;
}

input[type=text], input[type=file], input[type=submit] {
    background-color: #F1F1F8;
    color: #2D2D45;

    padding: 3px;

    border: 0px;
    border-radius: 8px;
}

input[type=text]:focus {
    outline: none;
}

input[type=submit] {
    color: #E4FF5C;
    background-color: #556600;
}

input[type=file]::file-selector-button {
    color: #F8BDB4;
    background-color: #F52100;
    
    border: 0px;
    border-radius: 5px;            
}

input[type=text].table-item {
    border-radius: 0;
}